@use "../../styles/breakpoints" as *;

.price {
    width: 100%;
    background: #fff;
    padding: 20px 20px 20px 0px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceCategory {
    display: inline-block;
    position: relative;

    & img {
        width: 600px;
        height: auto;
    }
}

.info {
    display: inline-block;
    align-items: end;
}

.descr {
    font-size: 27px;
    max-width: 350px;
}


.coast {
    margin-right: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li {
    font-size: 16px;
    font-weight: 300;
}

.btn {
    padding: 10px;
    width: 257px;
    background: #58AEE6;
    border-radius: 4px;
    font-size: 15px;
    padding: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s ease-in-out;

    &:hover {
        background: #518db6;
    }
}

@media(max-width:$tablet) {
    .priceCategory {
        & img {
            width: 500px;
            height: auto;
        }
    }
}

@media(max-width:860px) {

    .descr {
        font-size: 22px;
    }
}


@media(max-width:820px) {
    .priceCategory {
        & img {
            width: 420px;
            height: auto;
        }
    }

    .li {
        font-size: 14px;
    }
}

@media(max-width:$mobile) {
    .priceCategory {
        & img {
            max-width: 450px;
        }
    }

    .info {
        align-items: normal;
    }

    .coast {
        margin-right: 0px;
    }

    .descr {
        font-size: 18px;
    }

    .li {
        font-size: 13px;
    }
}

@media(max-width:680px) {
    .priceCategory {
        & img {
            max-width: 380px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .descr {
        font-size: 15px;
    }

    .coast {
        font-size: 35px;
        margin-bottom: 5px;
    }
}

@media(max-width:595px) {
    .priceWrapper {
        margin-bottom: 30px;
    }

    .priceCategory {
        position: relative;

        & img {
            max-width: 600px;
            width: 100%;
        }
    }

    .priceWrapper {
        display: flex;
        flex-direction: column;
    }
}