.faq{
    background: linear-gradient(-50deg, #2D2D2D 0%, #3A2D2D 50%);
    padding: 20px;
}
.wrapperFaq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
}
