*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 100px;
    height: 100px;
}

body {
    font-family: "Montserrat", sans-serif;
    // background: linear-gradient(-50deg, #2D2D2D 0%, #3A2D2D 50%);
    background: #fff;
    box-sizing: border-box;
    font-size: 16px;
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 15px;
}

