@use '../../styles/breakpoints' as *;

.logo {
    display: inline-block;
    width: 350px;
    height: 350px;
    user-select: none;
}


.logoHeader {
    user-select: none;
    display: inline-block;
    width: 100px;
    height: 100px;
}


@media(max-width: $mobile) {
    .logo {
        width: 300px;
        height: 300px;
    }
}