@use '../../styles/breakpoints' as *;

.header {
    background: linear-gradient(-50deg, #2D2D2D 0%, #3A2D2D 50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}